/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Typography */
body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 500; */
  background: #293f50;
}

/* universal selector */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* .container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
} */


/* Typography */
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/* Button */

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
  background: #a1d3b0;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}


.hero {
  padding: 22px 80px 66px 80px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.hero-inner {
  padding-left: 60px;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

/* Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  display: table;
  clear: both;
}
.group {
  clear: both;
  /* *zoom: 1; */
}

/* header */
.logo {
  float: left;
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;

  font-size: 48px;
  line-height: 44px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* footer */
.primary-footer small {
  float: left;
  /* font-weight: 400; */
}

.primary-footer {
  padding: 44px 0;
  /* padding-top: 44px;
  padding-bottom: 44px; */
  color: #648880;
  font-size: 14px;
}

/* grid */
.col-1-3 {
  width: 33.33%;
  /* font-size: 16px; */
  /* background-color: lightsalmon; */
  /* outline: 2px solid red; */
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.grid, .col-1-3, .col-2-3 {
  /* padding: 0 15px; */
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.container, .grid {
  margin: 0 auto;
  width: 960px;
}

.grid {
  font-size: 0;
  /* background-color: lightyellow; */
}

/* .col-1-3:nth-child(1) { background: lightcoral; }
.col-1-3:nth-child(2) { background: lightgreen; }
.col-1-3:nth-child(3) { background: lightskyblue; } */

@media (max-width: 768px) {
  .col-1-3 {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .col-1-3 {
    width: 100%;
  }
}


/* Typography */

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

a{
  text-decoration: none;
  color: #648880;
}

a:hover {
  color: #a9b2b9;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p a {
  border-bottom: 1px solid #dfe2e5;
  /* padding: 0 0 2px 0; */
}

.nav {
  text-align: right;
}


/* Background and Gradient */

.primary-header a, .primary-footer a {
  color: #fff;
}

.primary-header a:hover, .primary-footer a:hover {
  color: #648880;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

.row, .row-alt {
  min-width: 960px;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/* Lists */

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

/* Speakers */
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}

.speaker {
  margin-bottom: 44px;
}
.line {
  border-bottom: 1px solid #dfe2e5;
}

/* fixing images on index.html */
.teaser img {
  max-width: 100%;
  display: block;
  margin-bottom: 22px;
  border-radius: 5px;
}

.speaker-info img {
  border-radius: 50%;
  height: 130px;
  vertical-align: top;
  margin: -66px 0 22px 0;
}


/* Venue Page Styles */
.venue-theatre {
  margin-bottom: 66px;
}

.venue-hotel {
  margin-bottom: 22px;
}

.venue-map {
  height: 264px;
}


/* Register Page */
.attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

input, select, textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400px;
}

.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 18px 0;
  padding: 5px 8px;
}

.register-group input,
.register-group textarea {
  width: 100%;
}

.register-group select {
  height: 34px;
  width: 60px;
  background: rgb(227, 227, 227);
}

.register-group textarea {
  height: 78px;
}

.btn-default {
  border: 0;
  background: #648880;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn-default:hover {
  background: #77a198;
}

.register-group input::placeholder {
  font-size: 14px;
}


/* Schedule Page */
table {
  width: 100%;
  margin-bottom: 44px;
}

table:last-child {
  margin-bottom: 0;
}

th, td {
  padding-bottom: 22px;
  vertical-align: top;
}

th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}

td {
  width: 40%;
}

thead {
  line-height: 44px;
}

thead th {
  color: #648880;
  font-size: 24px;
}

tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 18px;
}

tbody td:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}
  
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #888;
}

table h4 {
  margin-bottom: 0;
}

.schedule-offset {
  color: #a9b2b9;
}


/* Responsive */

/* tablet */
/* @media screen and (max-width: 768px) {
  
} */

/* mobile */
/* @media screen and (max-width: 480px) {
  body {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
  header{
    max-width: 100%;
    background: red;
    display: none;
  }
  .row-alt{
    max-width: 500px;
    background: green;
    display: none;
  }
  footer {
    display: none;
  }

  .grid {
    width: 100%;
    margin: 0
  }

  .teaser img{
    height: 100%;
    width: 100%;
  }

  .teaser h5 {
    font-size: 2rem;
  }

  .teaser a{
    width: 100px
  }

  .teaser p {
    font-size: 20px;
  }

  .grid {
    clear: both;
  }

} */

/* @media screen and (max-width: 900px) {
  h3, nav {
    clear: both;
  }
  .hero-inner {
    padding: 0;
  }
  .col-1-3 {
    width: 50%;
  }
  .col-2-3 {
    width: 100%;
  }
  .speaker-info {
    margin-top: 0;
  }

  .primary-header > h3,
  .primary-header > nav {
    text-align: left;
    font-size: 1.5rem;
  }
  
  .row {
    clear: both;
  }
  .container, .grid {
    
  }
  nav > ul {
    text-align: left;
    font-size: large;
    position: absolute;
    top: 20%;
    left: 20px;
    padding-top: 10px;
  }

  .primary-footer {
    clear: both;
    position: relative;
    display: inline;
    background: #000;
  }
  .primary-footer > .nav > ul {
    text-align: left;
    font-size: large;
    position: absolute;
    top: 0;
    left: 20px;
    padding-top: 10px;
  }
  
}
 */
